.people-li{
    background-image: url(../../../assets/imgs/people.svg);
    width: 90%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
#form{
    position: absolute;
    top: 100px;
}