<section id="contact">
  <div class="info text-center">
    <h1>Any question?</h1>
    <p>We will answer on your meassage in the shortest possiable time!</p>
  </div>
  <button *ngIf="!showForm" (click)="showForm = !showForm" class="btn btn-secondary mb-3 ml-3 call-form btn-sm"> <i class="fa fa-envelope"></i> Send Message</button>
  <a href="tel:998977596407"><button class="btn btn-success mb-3 ml-3 call-form btn-sm"> <i class="fa fa-phone"></i> Call Us</button></a>
  <p class="d-inline pull-right pr-4 location d-flex align-items-center"> <i class="fa fa-map-marker pr-2"></i> 16 Afrosiyob ko'chasi, Тошкент, Узбекистан</p>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.4478514591888!2d69.27015321534451!3d41.29911990942544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b1f8eeee311%3A0x1fc003aa9dade0e8!2sEdu+Action!5e0!3m2!1sru!2s!4v1541584848823"
      width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="getInTouch" *ngIf="showForm">
    <form>
      <h3 class="text-center mb-3">Contact us</h3>
      <div class="row">
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Second Name">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Phone Number">
        </div>
        <div class="col-lg-6">
          <input type="email" class="form-control" placeholder="Email">
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary mt-3">Send Message!</button>
        <p class="text-white not-now pt-3" (click)="showForm = !showForm">Not now...</p>
      </div>

    </form>
  </div>
</section>
<div class="socials text-center mt-3">
  <a href="#"><i class="fa fa-telegram"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-google-plus"></i></a>
</div>
