<div class="row" id="fade">



  <div class="col-lg-3 about-item mx-auto mt-5" id="second">
    <h2>Courses</h2>
    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, id omnis modi sequi maiores doloremque quisquam
      accusamus architecto soluta iste at voluptatum laudantium tempore..</p>
      <a [routerLink]="['/courses']"><button class="btn btn-outline-light rounded mt-4">Courses!</button></a>
  </div>



  <div class="col-lg-3 about-item mx-auto" id="first">
    <div class="text-center">
      <img width="220" class="img-fluid" src="../../../assets/imgs/logo.png" alt="">
      <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dolore. Ad neque incidunt
        aspernatur itaque.</p>
      <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dolore. Ad neque incidunt
        aspernatur itaque.</p>
    </div>
  </div>



  <div class="col-lg-3 about-item mx-auto pr-5 mt-5" id="third">
    <h2>Registration</h2>
    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, id omnis modi sequi maiores doloremque quisquam
      accusamus architecto soluta iste at voluptatum laudantium tempore..</p>

      <a [routerLink]="['/registration']"><button class="btn btn-outline-light rounded mt-4">Get it!</button></a>
  </div>


</div>


<img class="img-fluid about-img" src="../../../assets/imgs/about.png" alt="">
