.info{
    width: 500px;
}
.card-img-top img{
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}
.line{
    width: 40px;
    height: 3px;
    background: #1B6BBB;
    margin: 0 auto;
}
.socials i {
    font-size: 18px;
    color: #fff;
    opacity: 0.5;
    margin: 0 8px;
}

.socials i:hover {
    transform: scale(1.1);
}