<div class="container">
  <div class="text-center col-lg-5 mx-auto">
    <h1>Meet our Team!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, sint? Dolores ea ducimus nisi asperiores quo? Impedit ea aliquid nisi illum molestiae</p>
  </div>
  <div class="container">


    <div class="row mt-5">
        <div class="col-lg-4 col-md-6 mx-auto" id="first">
            <div class="card">
              <div class="card-img-top">
                <img src="../../../assets/imgs/team/Mr.Saidbek.jpg" alt="" class="w-75">
              </div>
              <div class="card-body text-center">
                <div class="card-title">
                  <h4>Mr.Saidbek</h4>
                  <div class="line my-3"></div>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sint?</p>
                <div class="socials">
                  <a href="#"><i class="fa fa-telegram"></i></a>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4 col-md-6 mx-auto" id="second">
              <div class="card">
                <div class="card-img-top">
                  <img src="../../../assets/imgs/team/hasan.JPG" alt="" class="w-75">
                </div>
                <div class="card-body text-center">
                  <div class="card-title">
                    <h4>Mr.Hasan</h4>
                    <div class="line my-3"></div>
                  </div>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sint?</p>
                  <div class="socials">
                      <a href="#"><i class="fa fa-telegram"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
              </div>
            </div>
    </div>


  </div>
</div>