<div class="row">
  <div class="col-lg-7 col-md-12">
    <img class="wow slideInLeft home-img img-fluid" data-wow-duration="2s" src="../../../assets/imgs/home.png" alt="">
  </div>
  <div class="col-lg-3 col-md-12 mx-auto">
    <div class="content text-center wow fadeIn" data-wow-delay="2s">
      <h1>Welcome to iCode!</h1>
      <p>We will provide you all knowleadge you need to be a great programmer</p>
      <p class="text-left mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam maiores ea saepe consequatur dolore. Necessitatibus voluptate quod facere ex consequatur accusamus illum reiciendis ipsum, iure pariatur aut assumenda asperiores officia!</p>
      <a [routerLink]="['/about']"><button class="btn btn-outline-light rounded mt-4">Get more!</button></a>
    </div>
  </div>
</div>
