<section id="courses">
  <div class="common_info text-center">
    <h2>Check our courses in details</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, impedit!</p>
    <a routerLink="/courses/front-end"><button id="front-end" class="btn btn-outline-light rounded mx-1">Programming</button></a>
    <a routerLink="/courses/web-design"><button id="web-design" class="btn btn-outline-light rounded mx-1">Web Design</button></a>
  </div>
  <div class="row mt-5 mx-auto">

  <div class="col-lg-6"><img class="img-fluid" id="web" src="../../../assets/imgs/courses_web.png" alt=""></div>
  <div class="col-lg-6"><img class="img-fluid" id="design" src="../../../assets/imgs/courses_design.png" alt=""></div>

  </div>
</section>