<div class="container">


  <div class="blank">
    <div class="info text-center mb-5">
      <h1>Blank for buying course</h1>
      <p>Fill the blank and we will contact you as soon as possiable</p>
    </div>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col-lg-6">
          <input type="text" class="form-control" placeholder="Second Name">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-2">
          <input type="text" class="form-control" placeholder="Age">
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <select class="form-control">
              <option>Courses</option>
              <option>Front End</option>
              <option>Design</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <input type="email" class="form-control" placeholder="Email">
        </div>
      </div>

      <div class="row">
          <div class="col-lg-6">
            <input type="phone" class="form-control" placeholder="Phone Number">
          </div>

          <div class="col-lg-6">
              <input type="text" class="form-control" placeholder="Your City">
            </div>
        </div>

        

      <div class="text-right">
            <input type="submit" class="btn btn-primary rounded mt-3 ml-auto" value="Send Enquiry">
      </div>

    </form>
  </div>



</div>
